@page {
  size: A4;
  margin: 0.48in;
}

body {
  font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
  font-size: 10.3pt;
  line-height: 1.22;
  color: #000;
  text-align: left;
  overflow-x: visible;
}

h2, h3 {
  font-size: 11.2pt;
  font-weight: bold;
  text-decoration: underline;
  margin: 9pt 0 2.5pt 0;
  page-break-after: avoid;
}

ul {
  margin: 0 0 4pt 0;
  padding-left: 16pt;
}

li {
  margin-bottom: 1.2pt;
}

a {
  color: black;
  text-decoration: none;
}

div[style*="text-align: center"] {
  text-align: center !important;
}