@page {
  size: A4;
  margin: 0.6in;
}

body {
  font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.4;
  color: #000;
  text-align: left;
}

h2, h3 {
  font-size: 12pt;
  font-weight: bold;
  text-decoration: underline;
  margin: 18pt 0 6pt 0;
  page-break-after: avoid;
}

ul {
  margin: 0 0 12pt 0;
  padding-left: 20pt;
}

li {
  margin-bottom: 4pt;
}

a {
  color: black;
  text-decoration: none;
}

/* Override: only header is centered */
div[style*="text-align: center"] {
  text-align: center !important;
}